
body {
  background: salmon;
  max-width: 454px;
  margin: 0 auto;
}
div {
  width: 100px;
  height: 120px;
  border: 1px solid black;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  float: left;
}
