* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: #fafafa;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header h1 {
  font-family: 'Press Start 2P', cursive;
}

header p {
  font-size: 20px;
  color: red;
  font-family: 'Press Start 2P', cursive;
}

header button {
  width: 320px;
  background: white;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  border: 0;
}

main {
  flex: 1;
}

.board {
  margin: 0 auto;
  width: 320px;
  overflow: hidden;
  height: 100%;
  position: relative;
  border: 2px solid black;
  box-sizing: content-box;
}

.board .col {
  float: left;
  margin: 5px;
  background: lightBlue;
  width: 70px;
  min-height: 100%;
}

.falling {
  height: 50px;
  width: 70px;
  background-color: green;
  position: absolute;
  border: 2px solid blue;
}

footer {
  min-height: 40px;
  background: white;
  margin-top: 20px;
}
#reset {
  display: none;
  margin: 0 auto;
  margin-bottom: 20px;
}
