body {
  background: #fafafa;
}

ul.board {
  width: 500px;
  height: 700px;
  background: white;
  margin: 0 auto;
  padding: 0;
}

.newli {
  background: blue;
}

ul.board li {
  width: 125px;
  height: 140px;
  box-sizing: border-box;
  float: left;
  border: 1px solid grey;
  list-style-type: none;
  padding: 0;
}

.falling {
  background: red;
}
h1 {
  font-family: 'Press Start 2P', cursive;
}
p {
  font-size: 20px;
  color: red;
  font-family: 'Press Start 2P', cursive;
}
