* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("https://rocky-wave-47242.herokuapp.com/images/01.jpg");
}

header h1 {
  font-family: 'Press Start 2P', cursive;
}

header p {
  font-size: 20px;
  color: red;
  font-family: 'Press Start 2P', cursive;
}

header button {
  width: 130px;
  background: #6699ff;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 100px;
  font-family: 'Press Start 2P', cursive;
}
button:hover, #reset:hover {
  background: #40E356;
  }
button:focus, #reset:focus {
  border: none;
  outline:none;
}
main {
  flex: 1;
}

.board {
  margin: 0 auto;
  width: 320px;
  overflow: hidden;
  height: 90%;
  position: relative;
  border: 2px solid black;
  box-sizing: content-box;
}

.board .col {
  background: #b3ffb3;
  float: left;
  width: 25%;
  min-height: 100%;
}
.falling, .bonus, .slow, .dontClick {
  height: 90px;
  width: 80px;
  position: absolute;
  background-size: cover;
}
.falling {
  background-image: url('../images/beer.png');
}
.bonus {
  background-image: url('../images/shot.png');
}
.slow {
  background-image: url('../images/water.png');
}
.dontClick {
  background-image: url('../images/poison.png');
}

#gg {
  position: absolute;
  top: 300px;
  z-index: 100;
  margin: 0 auto;
  width: 100%;
  font-size: 35px;
  font-family: 'Press Start 2P', cursive;
  white-space: nowrap;
  color: red;
  -webkit-animation: pulsate 1.6s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.3;
}
@-webkit-keyframes pulsate {
 0% {
     opacity: 0.3;
 }
 50% {
     opacity: 1.0;
 }
 100% {
     opacity: 0.3;
 }
}
#reset {
  display: none;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-animation: pulsate 1.6s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.3;
  height: 40px;
  width: 140px;
  font-size: 17px;
  background-color: red;
  text-align: center;
  line-height: 43px;
}
@media only screen and (max-width: 770px) {
  h1 {
    font-size: 20px;
  }
  #score {
    font-size: 10px;
  }
  header button {
    width: 70px;
    height: 20px;
    font-size: 10px;
    line-height: 17px;
}
}
